* {
    margin: 0;
    padding: 0;
}



#map {
    height: 90vh;
    margin-top: 90px;
}

#map-overlay {
    position: absolute;
    top: 104px;
    left: 50px;
    z-index: 1000;
}

#div-overlay-pk,
#div-overlay-uk,
#div-overlay-usa {
    background-color: #f9f9f1;
    position: absolute;
    /* top: 600px; */
    bottom: -335px;
    left: 50px;
    z-index: 1000;
    cursor: pointer;

}

#btn-pic-pk,
#btn-pic-uk,
#btn-pic-usa {
    line-height: inherit;
    background: none;
    appearance: none;
    border: 0;
    color: inherit;
    padding-left: 275px;
    padding-top: 15px;
    display: none;

}


#filter-select {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 210px;
}

.my-btn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}

.my-btn:hover {
    background-color: black;
    color: white;
}

.my-btn-s {
    border: 1px solid #c018aa;
    border-radius: 25px;
    background-color: #c018aa;
    color: white;
    margin-left: 330px;
}

.my-btn-s a{
  color: #fff;
}
.my-btn-s:hover {
    background-color: white;
    color: #c018aa;
    border: 1px solid #c018aa;
}
.my-btn-s a:hover {
    color: #c018aa !important;
}

.my-div {
    border: 1px solid black;
    width: 350px;
    border-radius: 40px;
    margin-left: 10px;
}


/* grid items start */

@media (min-width: 1280px){
.grid {
  margin-bottom: 5rem;
}
}

@media (min-width: 1024px){
.grid {
  margin-bottom: 5rem;
}}

.grid {
    margin-bottom: -1.875rem;
  }

  @media (min-width: 1280px){
  .grids {
    margin: -3.125rem 0;
      margin-top: -3.125rem;
      margin-right: 0px;
      margin-bottom: -3.125rem;
      margin-left: 0px;
  }}

  @media (min-width: 1024px){
  .grids {
    margin: -1.875rem 0;
      margin-top: -1.875rem;
      margin-right: 0px;
      margin-bottom: -1.875rem;
      margin-left: 0px;
  }}

  .grids {
    margin: -1.5rem 0;
      margin-top: -1.5rem;
      margin-right: 0px;
      margin-bottom: -1.5rem;
      margin-left: 0px;
  }

  @media (min-width: 1280px){
  .grids-0 {
    margin: -.9375rem;
      margin-top: -0.9375rem;
      margin-right: -0.9375rem;
      margin-bottom: -0.9375rem;
      margin-left: -0.9375rem;
  }}

  @media (min-width: 1024px){
  .grids-0 {
    margin: -.78125rem;
      margin-top: -0.78125rem;
      margin-right: -0.78125rem;
      margin-bottom: -0.78125rem;
      margin-left: -0.78125rem;
  }}

  @media (min-width: 768px){
  .grids-0 {
    margin: -.78125rem;
      margin-top: -0.78125rem;
      margin-right: -0.78125rem;
      margin-bottom: -0.78125rem;
      margin-left: -0.78125rem;
  }}

  .grids-0 {
    display: flex;
    justify-content: center;
    margin: -.46875rem;
      margin-top: 1.531rem;
      margin-right: -0.46875rem;
      margin-bottom: -0.46875rem;
      margin-left: -0.46875rem;
  }

  @media (min-width: 1280px){
  .item-grid {
    margin: 3.125rem 0;
  }}

  @media (min-width: 1024px){
  .item-grid {
    margin: 1.875rem 0;
  }}

  .item-grid {
    margin: 1.5rem 0;
  }

  @media (min-width: 1280px){
  .item-grid-0 {
    width: 33.33%;
  }}

  @media (min-width: 1280px){
  .grid-item-prj {
    padding: .9375rem;
  }}

  @media (min-width: 1024px){
  .grid-item-prj {
    padding: .78125rem;
  }}

  @media (min-width: 768px){
  .grid-item-prj {
    padding: .78125rem;
  }}

  .grid-item-prj {
    padding: .46875rem;
    width: 390px;
  }

  .t-align-c {
    text-align: center;
  }

  .item-a-grid {
    width: 100%;
    display: block;
    position: relative;
  }

  @media (min-width: 1280px){
  .item-f {
    top: 2.25rem;
  }}

  @media (min-width: 1024px){
  .item-f {
    top: 1.5rem;
  }}

  .item-f {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    z-index: 2;
    width: 100%;
    max-width: 3.75rem;
    transform: translateX(-50%);
  }

  .item-main {
    position: relative;
    width: 100%;
    background-color: #fff;
  }

  .item-main-0 {
    padding: .6666em 1.3333em .3333em .3333em;
    border-radius: 0 25px 0 0;
  }

  .item-main-0 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    padding: 10px 10px 3px;
    background-color: #f9f9f1;
  }

  @media (min-width: 1280px){
  .t-size-xs {
    font-size: .875rem;
  }}

  @media (min-width: 1024px){
  .t-size-xs {
    font-size: .875rem;
  }}

  @media (min-width: 768px){
  .t-size-xs {
    font-size: 1rem;
  }}

  .t-size-xs {
    font-size: 1rem;
  }

  .t-uc {
    text-transform: uppercase;
    letter-spacing: .055em;
  }

  .image-grid {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  img {
    border-style: none;
    max-width: 100%;
  }

  .after-image {
    position: relative;
  }

  @media (min-width: 1024px){
    .image-title {
    margin: 1.5rem 0;
  }}

  @media (min-width: 1280px){
  .t-heading {
    font-size: 1.875rem;
  }}

  @media (min-width: 1024px){
  .t-heading {
    font-size: 1.875rem;
  }}

  @media (min-width: 768px){
  .t-heading {
    font-size: 1.875rem;
  }}

  .t-heading {
    font-size: 1.562rem;
  }

  .t-clearface {
    font-family: Clearface,serif;
  }

  .t-clearface a{
      color: #192531;
  }

  
/* grid items end */


/* footer css start */

:root {
    --footer-background: #0E1219;
    --gray: #595C61;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
}

footer {
    padding: 16px;
    bottom: 0px;
    background-color: #0E1219;
    color: white;
    min-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    background: #0E1219;
    flex-direction: column;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: white;
    text-decoration: none;
}

.footer-columns ul a:hover {
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.logo {
    width: 45px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.footer-top {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #595C61;
}

.footer-columns {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-columns h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-columns>section {
    min-width: 300px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #595C61;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
}

.footer-bottom-links {
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

@media(max-width:800px) {
    .footer-bottom-links {
        margin: 0 auto;
    }
}

.footer-bottom-links>a {
    color: white;
    text-decoration: none;
}

.footer-bottom-links>a:hover {
    text-decoration: underline;
}

.footer-bottom>small {
    font: 16px;
    margin: 0 4px;
}


/* navbar media queries start */




   /* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  .my-btn {
    display: none;
  }
  .my-btn-s{
    margin-top: -70px;
    margin-left: 230px;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .my-btn {
    display: none;
  }
  .my-btn-s{
    margin-top: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .my-btn {
    display: none;
  }
  .my-btn-s{
    margin-top: 0px;
    margin-left: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .my-btn-s{
    margin-top: 0px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 756px) {
  #newsletter-img{
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .my-btn {
  }
  .my-btn-s{
    margin-top: 0px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1307px) {
  .my-btn {
  }
  .my-btn-s{
    margin-top: 0px;
    margin-left: 20px;
  }
}
/* navbar media queries end */

/*  */
.t-size-s input{
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  padding: 0 1.625rem .125em;
  border: 0;
  background-color: #fff;
}
/*  */


/* support */
.img-contain, .img-cover {
  /* position: absolute; */
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.support-div {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-options {
  display: inline-flex;
  flex-direction: column;
}
.button-options a{
  text-decoration: none;
}
.splash-text {
  max-width: 16.08em;
  margin: 2.25rem auto;
}
.button--green {
  background-color: #559d2b;
  color: #f9f9f1;
  border: 2px solid #559d2b;
}
.button {
  min-height: 3.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  padding: 0 1.875rem;
  text-transform: uppercase;
  letter-spacing: .055em;
  transition: background-color .35s,color .35s,border-color .35s;
}
.button-sep {
  margin: .875rem;
}
.button--pink {
  background-color: #c018aa;
  color: #f9f9f1;
  border: 2px solid #c018aa;
}
.button--outline {
  border: 2px solid;
}
.button--outline:hover{
    background-color: #525f7f !important;
    color: white !important;
}

.button--pink:hover{
  background: none;
  color: #c018aa;
}
.button--green:hover{
  background: none;
  color: #559d2b;
}
.t-heading-lg {
  line-height: 1.1666666667;
  font-size: 1.875rem;
}
.t-size-m {
  line-height: 1.28;
  font-size: 1.125rem;
}
.donate {
  display: flex;
}
.donate button {
  flex: 1 0 auto;
}